AZ_SUBSCRIPTION_ID=00000000-0000-0000-0000-000000000000
AZ_RESOURCE_GROUP=your-resource-group
CERT_DNS_ZONE_NAME=example.com
CERT_DNS_ZONE_RESOURCE_GROUP=your-dns-zone-rg
CERT_KEYVAULT_NAME=your-keyvault-name
CERT_KEYVAULT_RESOURCE_GROUP=your-keyvault-rg
CERT_KEYVAULT_ACCESS_MODE=PrivateEndpoint
CERT_PRIMARY_DOMAIN=example.com
CERT_ADDITIONAL_DOMAINS_JSON=["*.example.com"]
CERT_LE_EMAIL=ops@example.com
CERT_VM_ADMIN_SSH_PUBLIC_KEY=ssh-rsa REPLACE_ME
CERT_KEYVAULT_CERT_NAME=tls-cert
